* {
    box-sizing: border-box;
}









.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto
}


