video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page-subheader {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-subheader .container{
  color: white;
}

.footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
}

h1.page-header {
    border: 0;
    font-weight: 300;
    font-family: roboto;
    color: white;
    margin: 20px 0 10px;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
}

#navbar .logo {
    display: block;
    width: 190px;
    margin-right: 60px;
}

#navbar .logo img {
    max-width: 100%;
}

#navbar .navbar-header {
    float: left;
}

#navbar .navbar-collapse-wrapper {
    float: left;
}

#navbar .navbar-nav {
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

#navbar .navbar-nav>li {
    margin-right: 30px;
    margin-bottom: 8px;
}

#navbar .navbar-nav>li:last-of-type {
    margin-right: 0;
}

#navbar .navbar-nav>li>a {
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: border-color 400ms;
}

#navbar .navbar-nav>li>a:hover, #navbar .navbar-nav>li>a.is-active {
    border-color: #f14d34;
}

#navbar .navbar-collapse .navbar-nav>li .dropdown-menu-wrapper.show .dropdown-menu {
    position: static;
    display: block;
    border: 0;
    box-shadow: none;
    float: none;
}

#navbar .navbar-collapse .navbar-nav>li.dropdown .dropdown-menu-wrapper {
    top: 100%;
    transition: all .5s;
    left: 0;
    position: absolute;
    width: 300px;
    z-index: 9999;
    box-shadow: 0 19px 40px -24px black;
}

#navbar .navbar-collapse .dropdown-menu {
    margin: -4px 0 0;
    border-radius: 0;
    background: #f04d35;
}

#navbar .navbar-collapse .dropdown-menu li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    transition: all 400ms;
    white-space: initial;
}

#navbar .navbar-collapse .dropdown-menu>li>a:hover, #navbar .navbar-collapse .dropdown-menu>li>a:focus, #navbar .navbar-collapse .dropdown-menu>li>a.is-active {
    color: #fff;
    background: #d13018;
}

#navbar .navbar-collapse .navbar-nav>li.dropdown:hover .dropdown-menu {
    padding: 8px 0;
    height: auto;
    display: block;
}

p {
  
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.tariff {
    height: auto;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 70px 20px 60px;
    background: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: all 500ms;
    transform-origin: center;
    margin-bottom: 30px;
    max-width: 500px
}

.tariffs-row {
    display: block
}

.tariffs-row.row-flex {
    display: flex
}

.tariffs-row.two-items .tariff {
    margin: auto auto 30px
}

.tariff-wrapper {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-bottom: 80px
}

.tariffs-row.two-items .tariff-wrapper {
    width: 400px
}

.tariff-header {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 50px
}

.tariff-title {
    font-weight: bold;
    font-size: 22px;
    font-weight: bold;
    color: #f14d32;
    line-height: 1.3
}

.tariff-price {
    font-size: 72px;
    font-weight: bold;
    color: #050c33;
    line-height: 1;
    white-space: nowrap
}

.tariff-price.small {
    font-size: 52px;
    margin-bottom: 10px
}

.tariff-price .rub {
    font-size: 28px;
    font-weight: 500;
    vertical-align: text-top;
    display: inline-block;
    margin-left: -5px;
    margin-top: 18px
}

.tariff-price.small .rub {
    margin-top: 5px
}

.tariff-price-description {
    line-height: 1;
    color: #040c33;
    margin-bottom: 20px;
    font-weight: 500
}

.tarrif-body-item, .tariff-body-item {
    margin-bottom: 18px;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    padding-left: 30px;
    color: #4e5972;
    font-weight: 500
}

.tarrif-body-item:before, .tariff-body-item:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 10px;
    background: url(/themes/bootstrap_dc/css/../images/checkmark.svg) no-repeat center;
    background-size: contain
}

.tarrif-body-item.plus:before, .tariff-body-item.plus:before {
    background: url(/themes/bootstrap_dc/css/../images/plus.svg) no-repeat center;
    background-size: contain;
    height: 13px
}

.tarrif-body-item.minus:before, .tariff-body-item.minus:before {
    background: url(/themes/bootstrap_dc/css/../images/minus.svg) no-repeat center;
    background-size: contain
}

.tariff-footer-btn {
    text-decoration: none;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    color: #f14d34;
    border: 1px solid #f14d34;
    text-align: center;
    transition: all 500ms;
    padding: 20px 10px;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.tariff-footer-btn:hover, .tariff-footer-btn:active, .tariff-footer-btn:focus {
    text-decoration: none;
    color: #fff;
    background: #f14d34
}

.col-flex:nth-of-type(2n) .tariff {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25)
}

.col-flex:nth-of-type(2n) .tariff .tariff-footer-btn {
    color: #fff;
    background: #f14d34
}

.tariffs .tariffs-row:hover .col-flex:nth-of-type(2n) .tariff {
    transform: initial;
    box-shadow: none
}

.tariffs .tariffs-row:hover .col-flex:nth-of-type(2n) .tariff .tariff-footer-btn {
    color: #f89c91;
    background: #fff
}

.tariff:hover, .tariffs .tariffs-row:hover .col-flex:nth-of-type(2n) .tariff:hover {
    transform: scale(1.1);
    z-index: 15;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25)
}

.tariff:hover .tariff-footer-btn, .tariffs .tariffs-row:hover .col-flex:nth-of-type(2n) .tariff:hover .tariff-footer-btn {
    color: #fff;
    background: #f14d34
}

.tariffs-ps {
    text-align: center;
    line-height: 1.3;
    font-weight: 500;
    color: #828a9b;
    width: 475px;
    max-width: 100%;
    margin: 0 auto
}

.tariffs-link {
    display: block;
    margin-top: 26px;
    font-size: 12px;
    text-transform: uppercase;
    color: #050c33;
    text-decoration: underline;
    transition: all 300ms
}

.tariffs-link:hover {
    text-decoration: none;
    color: #f14d32
}

.tariff-col {
    border-radius: 5px;
    overflow: hidden;
    transition: all .5s ease;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0, #fff 100%);
    background: -webkit-linear-gradient(top, #ededed 0, #fff 100%);
    background: linear-gradient(to bottom, #ededed 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    width: 100%;
}

.tariff-col.tar-vip .price-col {
    color: white;
    background: #141414;
    background: -moz-linear-gradient(-45deg, #141414 0, #4c4c4c 100%);
    background: -webkit-linear-gradient(-45deg, #141414 0, #4c4c4c 100%);
    background: linear-gradient(135deg, #141414 0, #4c4c4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#4c4c4c', GradientType=1);
}

.tariff-col.tar-ecom .price-col {
    background: #00bcd4;
}

.tariff-col.tar-business .price-col {
    background: #607d8b;
}

.tariff-col:hover {
    box-shadow: 14px 0 15px -20px black, -14px 0 15px -20px black;
}

.region-content .cons-col img {
    width: 16px;
    height: 16px;
    margin: 0 2px;
}

.tariff-col-title {
    padding: 30px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.tariff-col-odd, .tariff-col-even {
    font-size: 12px;
    text-align: center;
    padding: 15px 10px;
}

.tariff-col-odd {
    background: rgba(0, 0, 0, .04);
}

.tariff-col span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}

.panel-info {
    border-color: #bce8f1;
}
